.h1{
	color: white;
}
.h2{
	color: white ;
}
.l{
	 width: 300px;
  height: 200px;
}

.l1{
	 width: 300px;
  height: 200px;
}
.l2{
	 width: 300px;
  height: 200px;
}
.l3{
	 width: 300px;
  height: 200px;
}


.h3{
	color: white;
}
.h4{
	color: white;
}
.h5{
	color: white;
}
.p1{
	color: white;
	font: small-caps 200%/300% serif;
}
.p2{
	color: white;
	font: small-caps 200%/300% serif;
}
.p3{
	color: white;
	font: small-caps 200%/300% serif;
}
.p4{
	color: white;
	font: small-caps 200%/300% serif;
}
.m3{

  width: 300px;
  height: 200px;
}
.m31{
	width: 300px;
  height: 200px;
}
.m32{
	width: 300px;
  height: 200px;
}
.m33{
	width: 300px;
  height: 200px;
}
.n{
	 width: 300px;
  height: 200px;
}
.n1{
	 width: 300px;
  height: 200px;
}
.n2{
	 width: 300px;
  height: 200px;
}
.n3{
	 width: 300px;
  height: 200px;
}