.h1{
    font: oblique bold 120% cursive;

}
.h2{
    font: oblique bold 120% cursive;

}
.h3{
    font: oblique bold 120% cursive;

}
.h4{
    font: oblique bold 120% cursive;

}
.m2{
  width: 400px;
  height: 200px;
}
.m3{
  width: 400px;
  height: 200px;
}
.m4{
  width: 400px;
  height: 200px;
}